//bookmark
.bookmark{
    width: 100%;
    li{
        border-color: #555555;
    }
    .normal{
        padding: 11px 14.5px;
    }
    .back,.next{
        padding: 11px 13.5px;
    }
    .next{
        background-color: #F2F2F2;
    }
    a:hover{
        color: #FFFFFF !important;
        background-color: #000000;
        transition: all 0.5s;
    }
}
//faq header menu
.blogHeader{
    a{
        padding: 12px 0;
    }
}
@include sm{
    .blogHeader{
        .blogHeaderMenu{
            width: 70.6897%;
        }
        a{
            padding: 13px 0;
            font-size: 20px;
        }
        .material-symbols-outlined{
            font-size: 40px;
        }
    }
}
@include lg{
    .blogHeader{
        .blogHeaderMenu{
            width: 37.963%;
        }
    }
}