<nav class="container bookmark py-19 py-sm-13 d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item">
        <a href="#" class="page-link back">上一頁</a>
      </li>
      <li class="page-item">
        <a href="#" class="page-link normal">1</a>
      </li>
      <li class="page-item">
        <a href="#" class="page-link normal">2</a>
      </li>
      <li class="page-item">
        <a href="#" class="page-link normal">3</a>
      </li>
      <li class="page-item">
        <a href="#" class="page-link normal">4</a>
      </li>
      <li class="page-item">
        <a href="#" class="page-link normal">5</a>
      </li>
      <li class="page-item">
        <a href="#" class="page-link next">下一頁</a>
      </li>
    </ul>
  </nav>