<div class="blogHeader bg-secondary">
    <div class="container d-sm-flex justify-content-sm-between align-items-sm-center">
      <ul class="list-group blogHeaderMenu flex-row justify-content-between">
        <li class="list-group-item border-0">
          <a href="#" class="bg-secondary text-white fw-bold">最新消息</a>
        </li>
        <li class="list-group-item border-0">
          <a href="#" class="bg-secondary text-white fw-bold">特別企劃</a>
        </li>
        <li class="list-group-item border-0">
          <a href="#" class="bg-secondary text-white fw-bold">新品上市</a>
        </li>
        <li class="list-group-item border-0">
          <a href="#" class="bg-secondary text-white fw-bold">鏡框小知識</a>
        </li>
      </ul>
      <span class="material-symbols-outlined text-white d-none d-sm-block">
        search
        </span>
    </div>
  </div>