<div class="header bg-primary">
    <div class="container d-flex flex-column flex-sm-row justify-content-sm-between align-items-center">
        <a class="logo" href="index.html">Glass Logo</a>
        <nav class="nav justify-content-sm-between flex-sm-row flex-sm-nowrap">
            <li class="nav-item"><a href="product.html" class="text-center fs-10 nav-link border border-white">系列鏡框</a></li>
            <li class="nav-item"><a href="shop.html" class="text-center fs-10 nav-link border border-white">門市據點</a></li>
            <li class="nav-item"><a href="blog.html" class="text-center fs-10 nav-link border border-white">部落格</a></li>
            <li class="nav-item"><a href="faq.html" class="text-center fs-10 nav-link border border-white">常見問題</a></li>
        </nav>
    </div>
</div>