//breakpoint
@import "../scss/helpers/breakpoint";

//bootstrap
// Configuration
@import "../node_modules/bootstrap/scss/functions";
//custom
@import "../scss/helpers/variables";
@import "../scss/helpers/variables-dark";
//bootstrap origin
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
//custom
@import "../scss/helpers/utilities";

// Layout & components
@import "../node_modules/bootstrap/scss/root";
// @import "../node_modules/bootstrap/scss/reboot";
//meyerweb css reset
@import "./helpers/reset";

@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";

// layout
@import './layout/header.scss';
@import './layout/footer.scss';
@import './layout/privacy';
@import './layout/service';

//pages
@import './pages/index.scss';
@import './pages/product.scss';
@import './pages/shop.scss';
@import './pages/blog.scss';
@import './pages/faq.scss';

body{
    font-family: 'Noto Sans TC','Roboto',sans-serif;
    line-height: 1.5;
    a{
        display: block;
        text-decoration: none;

    &:hover{
        color: $secondary !important;
        transition:  0.5s;
        }
    }
    // word-wrap: break-word !important;
    word-break: break-all;
    a{
        word-break: break-all;
    }
}


body{
    .container{
        padding: 0 14px 0 13px;
    }
}
@include md{ //576px
    body{
        .container{
            padding: 0 36px;
        }
    }
}

@include lg{  //992px
    body{
        .container{
            padding: 0 12px;
        }
    }
}




