.footer{
  a{
    color: #FFFFFF;
  }
  .topItem{
    width: 100%;
  }
  .footerMenu{
    width: 35.8025%;
  }
  .media{
    a{
      width: 48px;
      height: 48px;
    }
    .fb{
      background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true) center center no-repeat;
      background-size: cover;
      text-indent: 200%;
      overflow: hidden;
      white-space: nowrap;
    }
    .ig{
      background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true) center center no-repeat;
      background-size: cover;
      text-indent: 200%;
      overflow: hidden;
      white-space: nowrap;
    }
    .line{
      background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true) center center no-repeat;
      background-size: cover;
      text-indent: 200%;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .material-symbols-outlined{
    font-size: 48px;
  }
  .bottom{
    color: #FFFFFF;
  }
}
@include ipad{
  .footer{
    .topItem{
      width: 100%;
    }
    .footerMenu{
      width: 66.6668%;
    }
    .media{
      a{
        width: 40px;
        height: 40px;
      }
    }
    .tel,.mail{
      font-size: 36px !important;
    }
  }
}
@include iphone6{
  .footer{
    .footerMenu{
      display: none;
    }
    .media{
      a{
        width: 24px;
        height: 24px;
      }
    }
    .tel,.mail{
      font-size: 16px !important;
    }
    .material-symbols-outlined{
      font-size: 24px !important;
    }
    .bottom{
      .fs-11{
        font-size: 16px !important;
      }
    }
  }
}