.header{
  background-color: #AA0601;
  .logo{
    width: 80px;
    height: 49px;
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true) center center no-repeat;
    background-size: cover;
    text-indent: 200%;
    overflow: hidden;
    white-space: nowrap;
  }
  .nav-link{
    padding: 25px 0;
  }
}
@include iphone6{
  .header{
    padding: 0;
    .container-sm{
      padding: 0;
    }
    .logo{
      margin: 15.5px 0 15.5px 15px;
    }
    li{
      width: 50%;
    }
    .nav-link{
      font-size: 16px !important;
      padding: 12px 0;
      border: 1px solid #FFFFFF;
    }
  }
}