.index{
    .bg{
        background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true) center center no-repeat;
        background-size: cover;
        a{
            padding: 5.5px 12px;
        }
    }
    .about{
        .material-symbols-outlined{
            font-size: 100px;
            margin: 0 auto;
        }
        .list-group-item{
            width: 100%;
        }
    }
    .classic{
        .list-group-item{
            width: 100%;
        }
    }
    .joinName{
        background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true) center center no-repeat;
        background-size: cover;
    }
    .customer{
        .list-group-item{
            border-color: #DEE2E6;
            box-shadow: 0 2px 6px #00000029;
            &:hover{
                cursor: pointer;
                box-shadow: 0 2px 8px #00000086;
                transition: all 0.5s;
            }
        }
        .item1{
            height: 306px;
            background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-1.png?raw=true) center center no-repeat;
            background-size: cover;
        }
        .item2{
            height: 306px;
            background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-2.png?raw=true) center center no-repeat;
            background-size: cover;
        }
        .item3{
            height: 306px;
            background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-3.png?raw=true) center center no-repeat;
            background-size: cover;
        }
        .item4{
            height: 306px;
            background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-4.png?raw=true) center center no-repeat;
            background-size: cover;
        }
    }
    .contact{
        .name,.phone,.mail,.suggest{
            width: 100%;
        }
        .name,.phone,.mail{
            width: 100%;
            padding: 5px 0 5px 12px;
            line-height: 1.5;
        }
        .phone,.mail{
            padding: 3.5px 0 3.5px 12px;
        }
        textarea{
            width: 100%;
            padding-top: 5px;
            padding: 5px 0 0 12px;
            margin-bottom: -5px;
            line-height: 1.5;
            resize: none;
            height: 136px;
        }
        .form-check-label{
            width: 91.954%;
        }
        .form-check-input{
            width: 22px;
            height: 22px;
            padding: 0;
            margin: 0;
            border-color: #000000;
        }
        .submit{
            width: 100%;
            font-size: 16px;
            line-height: 24px;
            &:hover{
                cursor: pointer;
                color: $secondary !important;
                transition: all 0.5s;
            }
        }
    }
}
@include sm{
    .index{
        .customer{
            .item1{
                height: 547px;
            }
            .item2{
                height: 547px;
            }
            .item3{
                height: 547px;
            }
            .item4{
                height: 547px;
            }
        }
    }
}
@include md{
    .index{
        .bg{
            h2{
                font-size: 36px !important;
            }
            h1{
                font-size: 64px !important;
            }
        }
        .about{
            h2{
                font-size: 48px !important;
            }
            .list-group-item{
                width: 48.276%;
            }
        }
        .classic{
            h2,a{
                font-size: 48px !important;
            }
            .list-group-item{
                width: 48.276%;
            }
        }
        .joinName{
            background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true) center center no-repeat;
            background-size: cover;
            h2{
                font-size: 48px !important;
            }
            .item1{
                img{
                    content: url(../images/home-section4-1.png);
                }
            }
            .item2{
                img{
                    content: url(../images/home-section4-2.png);
                }
            }
        }
        .customer{
            h2{
                font-size: 48px !important;
            }
            .list-group-item{
                width: 48.564%;
            }
            .item1,.item2,.item3,.item4{
                height: 306px;
            }
        }
        .contact{
            h2{
                font-size: 48px !important;
            }
            p,form{
                width: 82.758621%;
            }
            .submit{
                width: 58.3333333%;
            }
        }
    }
}


@include lg{
    .index{
        ul{
            width: 100%;
        }
        .list-group-item{
            width: 23.6115% !important;
        }
        .classic{
            .list-group-item{
                width: 32.098765% !important;
            }
        }
        .joinName{
            background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true) center center no-repeat;
            background-size: cover;
            .list-group-item{
                width: 50% !important;
            }
            .item1{
                img{
                    content: url(../images/home-section4-lg-1.png);
                }
            }
            .item2{
                img{
                    content: url(../images/home-section4-lg-2.png);
                }
            }
        }
        .customer{
            .list-group-item{
                width: 23.6114% !important;
            }
            .time{
                color: #707070;
            }
        }
        .contact{
            p{
                font-size: 20px !important;
            }
            p,form{
                width: 49.0741%;
            }
            .submit{
                width: 65.408805%;
            }
        }
    }
}
